<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <nav>
    <%- include('../partials/nav.ejs')%>
  </nav>
  <style>
    .nav {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    align-items: center;
    height: 30px;
    background-color: rgba(84, 1, 1, 0.697);
}

body {
    background-color: blanchedalmond;
}
  </style>
  <body>
    <h2>Edit This Creation</h2>
    <form action="/florals/<%=id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=floral.name%>" /><br>
        Description: <input type="text" name="description" value="<%=floral.description%>" /><br>
        Image: <input type="text" name="img" value="<%=floral.img%>" /><br>
        Price: $<input type="number" name="price" value="<%=floral.price%>" /><br>
        <input type="submit" value="Submit Creation Edit" />
    </form>
  </body>
</html>