<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <nav>
    <%- include('../partials/nav.ejs')%>
  </nav>
  <style>

  </style>
  <body>
    <h2>Edit This Creation</h2>
    <form action="/florals/<%=id%>" method="PUT">
        Name: <input type="text" name="name" value="<%=floral.name%>" /><br>
        Description: <input type="text" name="description" value="<%=floral.description%>" /><br>
        Image: <input type="text" name="img" value="<%=floral.img%>" /><br>
        Price: $<input type="number" name="price" value="<%=floral.price%>" /><br>
        <input type="submit" value="Submit Creation Edit" />
    </form>
  </body>
</html>