<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <nav>
    <%- include('../partials/nav.ejs')%>
  </nav>
  <style>


  </style>
  <body>
    <section id="indexTitle">
    <h1>Welcome To Your Fairytale</h1>
    </section>
    
    <section id="floralindex">
        <ul class="floralsIndex">
            <% for(let i = 0; i < florals.length; i++) { %>
            <li>
                <h3> <%=florals[i].name%> </h3>
                <a href="/florals/<%=florals[i]._id%>"><img src="<%=florals[i].img%>" /></a>
            </li>
        <% } %>
        </ul>
    </section>
</body>
</html>