<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <nav>
    <%- include('../partials/nav.ejs')%>
  </nav>

  <style>


  </style>
  <body>
    <div class="showpage">
          <h2><strong><%=floral.name%></strong></h2><br>
          <h3>About This Creation:</h3><br>
          <h3> <%=floral.description%></h3><br>
          <img class="photo" src="<%=floral.img%>" /><br>
          <h4>Starts At: $<%=floral.price%></h4><br>

          <div class="rsvbtn">
                <h4>Available</h4> <form action="/florals/reservation/<%=id%>?_method=PUT" method="POST" >
                <input type="submit" value="Add To Reservation" />
                </form>

          </div>

          <div class="edbtn">
            <form action="/florals/<%=id%>/edit?_method=PUT" method="PUT">
                <input type="submit" value="Edit This Creation" />
            </form>
            <form action="/florals/<%=id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Creation" />
            </form>

            </div>


    </div>
  </body>
</html>